

	<div id="box_panel">

  <div class="main_top_box">
  <div class="main_left_box">
  <div class="main_right_box">

  <div class="main_details">
    <% image_tag "arrow.png", {:style => "float:left"} %>
  <% image_tag "img1.gif", {:style => "float:right", :margin => "0px 20px 0px 20px"} %>
    <h1>Welcome to our web site</h1>
  <h4>Lorem ipsum dolor sit amet</h4>
  <p>Consectetur adi piscing elit. Mauris quis dolor ac ante dapibus rhoncus. Nam ut ligula. Maecenas ut mi varius magna faucibus aliquam. Vestibulum volutpat. Vestibulum mi enim, sagittis ac, male suada quis, viverra tristique, metus. </p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
    <div class="clear"></div>
  </div>

  </div>

  </div>

  </div>
        </div>